<h3>Calendario</h3>
<div>
    <style>
        this {
            display: flex;
            flex-direction: column;
            gap: var(--spacing);
        }

        this #cadro-data {
            background-color: var(--accent);
            height: 3rem;
            width: 3rem;
            border-radius: calc(var(--radius) * 0.7);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        this #cadro-data > p,
        this #cadro-data > span {
            margin: 0;
            color: var(--bg);
        }

        this #cadro-data > p:first-child {
            font-size: 1.3rem;
        }
    </style>

    {% for pelicula in peliculas %}
    <div class="tarxeta">
        <div id="cadro-data">
            <p>{{ format!("{}", pelicula.fecha_ciclo.unwrap().day()) }}</p>
            <span
                >{% let n =
                usize::from(u8::try_from(pelicula.fecha_ciclo.unwrap().month()).unwrap())
                %} {{ meses[n-1] }}
            </span>
        </div>
        <p>{{ pelicula.titulo }}</p>
    </div>
    {% endfor %} {% if peliculas.is_empty() %}
    <div class="tarxeta">
        <p>Todavía non hai mais sesións programadas</p>
    </div>
    {% endif %}
</div>
