<div>
    <style>
        this {
            display: flex;
            gap: var(--spacing);
            margin-top: calc(var(--spacing) * 2);
        }

        this h3 {
            padding: 0;
        }

        this img {
            border-radius: calc(var(--radius) * 0.7);
            min-width: 200px;
        }

        this .tarxeta {
            cursor: pointer;
        }

        this .tarxeta.inactive {
            flex-basis: fit-content;
        }

        this #descripcion {
            display: flex;
            flex-direction: column;

            height: 283px;
        }


        this #titulo-desc {
            flex-grow: 1;
        }

        this #subtitulo-desc {
            color: var(--bg-base);
        }

        this #sinopsis-desc {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            overflow: hidden;
        }

        this .tarxeta.inactive>#descripcion {
            display: none;
        }

        @media md- {
            this .tarxeta.inactive {
                display: none;
            }

            this img {
                min-width: 100px;
                max-width: 150px;
            }

            this #descripcion {
                height: auto;
            }
        }
    </style>

    {% for pelicula in peliculas %}
    <div class="tarxeta{% if loop.index> 1 %} inactive{% endif %}" onclick="location.href='/peliculas/{{pelicula.id.unwrap()}}'">
        <img src="{{ pelicula.poster.clone().unwrap_or(" /assets/posters/sen-portada.webp".into()) }}"
            alt="Poster {{ pelicula.titulo }}" width="200" />

        <div id="descripcion">
            <div id="titulo-desc">
                <h4>{{ pelicula.titulo }}</h4>
                <p id="subtitulo-desc">{{ pelicula.duracion.unwrap_or(0) }} min - {{
                    pelicula.idioma.clone().unwrap_or("Varios".into())
                    }} - {{ pelicula.publicacion.unwrap_or(1969) }}</p>
            </div>
            <p id="sinopsis-desc">{{ pelicula.sinopsis_gl.clone().unwrap_or("Descripción...".into()) }}</p>
        </div>
    </div>
    {% endfor %}
</div>
