<!-- Podedes engadir máis bloques aquí -->

<div id="novidades">
    <h3>Festival Cine Barato</h3>
    <style>
        this > div {
            cursor: pointer;
        }
        this > div > div {
            flex-basis: fit-content;
        }
        this img:hover {
            transform: scale(1.03);
            filter: drop-shadow(var(--radius) var(--radius) 10px black);
        }

        this i {
            color: var(--accent);
            font-family: var(--font-title);
        }
        this b {
            color: var(--accent);
        }

        @media md- {
            this img {
                min-width: 100px;
                max-width: 150px;
            }
        }
    </style>
    <div class="tarxeta" onclick="window.location.href='/cine_barato'">
        <div>
            <p>
                Chega <i>Cine Barato</i>! Un festival de cine sen recursos
                organizado entre Cineclube Compostela, Club de cine Facom e
                Cinemazarelos. Todo o proxecto segue unha idea moi simple: non
                só queremos proxector, tamén queremos aprender como facer cine
                e, sobre todo, como facelo sen ter recursos. Para iso, tentamos
                rachar coa idea de que un festival de cine e para proxecar e ver
                películas: en Cine Barato proxectamos
                <b>cine amateur e de baixos recursos</b>, pero tamén facemos
                <b>obradoiros</b> no que traballar con técnicas asequibles como
                o foundfootage ou a fotografía estenopeica.
            </p>
        </div>
        <img
            src="/assets/posters/2324/cine_barato.webp"
            width="200"
            alt="Festival Cine Barato"
        />
    </div>

    <h3>Fanzine</h3>
    <div
        class="tarxeta"
        onclick="window.open('https://raw.githubusercontent.com/eerii/cinemazarelos/main/assets/fanzines/fanzine_2122.pdf', '_blank')"
    >
        <img
            src="/assets/fanzines/fanzine_2122.webp"
            width="200"
            alt="Primeiro fanzine"
        />
        <div>
            <p>
                Estamos moi emocionades de, por fin, poder compartir un pequeno
                adianto do que é o Fanzine do noso ciclo de cine!
            </p>
            <p>
                Poderedes atopar unha portada chulísima, os cartaces do ciclo do
                ano pasado e unha recopilación de textos escritos poles
                presentadores dos filmes!
            </p>
        </div>
    </div>
</div>
