{% extends "base.html" %}

<!-- -->

{% block content %}
<h2>Cine barato</h2>

<div class="paragrafos">
    <style>
        this h3 {
            display: inline-block;
        }

        this ul {
            margin-top: 0;
        }

        this i {
            color: var(--accent);
            font-family: var(--font-title);
        }

        this b, a {
            color: var(--accent);
        }

        this a {
            text-decoration: underline;
        }
    </style>

    <p>Usualmente asociamos os festivais de cine tan só á proxección de películas. Quen estamos neste proxecto (a xente do <i>Cineclube Compostela, Club de cine Facom e CineMazarelos</i>) adicamos moitas horas a proxectar películas, cremos que poder ver cine en salas e en aberto, totalmente de balde, ten moito valor. Pero tamén cremos que non é suficiente, por iso acompañamos cada sesión dunha presentación e un coloquio posterior  con todes es asistentes. Por isto, cando se nos presentou a oportunidade de facermos un festival entre todes (diferentes organización afincadas na mesma cidade), pensamos que esa asociación usual entre festival e só proxección se nos quedaba corta. </p>
    <p>Démoslle un par de voltas a como mesturar diferentes actividades relacionadas co cinema, como obradoiros que involucraran ás persoas doutro xeito: non queremos que o cine se limite á proxección e ao visionado, non queremos que se asocie facer películas con facelas con moitos cartos. Ao contrario, sabemos que existe o cinema sen recursos e cremos que calquera o pode facer. Así, chegamos a unha idea máis delineada: si, haberá proxeccións, pero de cine amateur e sen financiación; e si, haberá tamén obradoiros para poder aprendermos formas de cine alternativas ás grandes producións que xa todes coñecemos e que pouco teñen que ver coa nosa vida. Foi así como chegamos ao <i>Cine Barato</i>. </p>
    <p>Cine Barato é un festival con tan poucos recursos como as películas que proxecta: non gañamos cartos, nin fai falla pagar entrada (aínda que podedes deixar donativos na nosa taquilla inversa para cubrir gastos como transportes e dietas). Todas as nosas actividades estarán abertas en para quen queira vir en Santiago de Compostela o <b>24,25 e 26 de abril</b>. </p>
    <p>Que tipo de actividades podedes agardar? Iremos concretando as proxeccións e os obradoiros en breves (estade atentes!), pero polo de pronto xa podedes acceder e participar no que é a idea que nos acompañou en todo o proceso de montar o festival: a Jam. </p>

    <details>
        <summary>
            <h3>A jam</h3>
        </summary>
        
        <div class="paragrafos">
            <p>A idea da Jam é algo que acompaña ao Cine Barato dende antes de que este tivese nome, mesmo dende antes de que soubésemos en que dias ía ser. Temos moitas ganas de ver o que se pode crear en tres semanas, cos mínimos recursos, pero con moitas ganas. As cousas feitas deste xeito, ao barato, teñen moito valor, xa veredes porque o dicimos. Pero estámonos adiantando, imos ir por partes:</p>
            <h4>Qué é unha Jam?</h4>
            <p>Na actualidade é común utilizalo para referirse aos encontros de desarrolladores de videoxogos que, nun tempo limitado, teñen que crear dende cero un videoxogo orixinal seguindo un listado de normas e temáticas establecidas pola organización. Así pois, nós propoñemos unha jam de cine, coas seguintes normas e temática:</p>
            <h4>As normas da nosa Jam:</h4>
            <ul>
                <li>A duración máxima das curtas é de 5 minutos</li>
                <li>O resultado ten que ser orixinal e non estar publicado con anterioridade</li>
                <li>Pódese crear partindo de imaxes preexistentes, pero repetimos, o resultado ten que ser orixinal</li>
                <li>O formato da curta pode ser o que queirades: animación stop-motion, grabar coa cámara do móvil, capturar unha pantalla… podedes ser todo o imaxinatives que queirades!! Deixarémosvos enderezos a exemplos de formatos chulos na páxina de <a href="/cine_barato">cinemazarelos.com/cine_barato</a></li>
                <li>Para participar tédesnos que mandar un correo a <a href="mailto:cinebarato.achegas@gmail.com">cinebarato.achegas@gmail.com</a> co voso nome, o título da curta e o arquivo da mesma. Tamén necesitamos que subades a vosa curta a YouTube, Viemo ou Drive (ou o subimos nós se o preferides!) e nos pasedes o enlace para así podelas alonxar na nosa web cando remate a jam</li>
                <li>Todas as curtas teñen que seguir a temática proposta, que é…</li>
            </ul>
            <h4>A temática: <i>O valor</i></h4>
            <p>Como o ledes! A temática escollida é a do valor. E vos preguntaredes, como que o valor? De qué me están a falar? Do chocolate? Pois si!! Entre moitas outras cousas, obviamente.</p>
            <p>Podedes atopar moitísimas acepcións do que significa <b>“O Valor”</b>, e podedes utilizar todas e cada unha delas!</p>

            <h4>Datas importantes:</h4>
            <p>A partires do día <b>20 de marzo</b> empezamos a recibir curtas e teredes tempo de envialas ata o día 17 de abril! Durante este tempo habilitaremos unha canle de telegram para que as persoas que participades na Jam poidades falar entre vós, pasarvos material, compartir ideas, preguntarnos cousas á organización, etc.</p>
            <p>A seguinte data relevante é o venres día <b>25 de abril</b>, día no cal proxectaremos as curtas como peche do noso Cine Barato. Isto será nun local de Santiago de Compostela, aínda por confirmar, con entrada de balde ata completar aforo!</p>
            <p>Despois deste día colgaremos os enlaces das curtas a <a href="/cine_barato">cinemazarelos.com/cine_barato</a> para que queden accesibles!</p>
        </div>
    </details>
</div>
{% endblock %}
