{% extends "base.html" %}

<!-- -->

{% block content %}
<h2>Cine barato</h2>

<div class="paragrafos">
    <p>Usualmente asociamos os festivais de cine tan só á proxección de películas. Quen estamos neste proxecto (a xente do Cineclube Compostela, Club de cine Facom e CineMazarelos) adicamos moitas horas a proxectar películas, cremos que poder ver cine en salas e en aberto, totalmente de balde, ten moito valor. Pero tamén cremos que non é suficiente, por iso acompañamos cada sesión dunha presentación e un coloquio posterior  con todes es asistentes. Por isto, cando se nos presentou a oportunidade de facermos un festival entre todes (diferentes organización afincadas na mesma cidade), pensamos que esa asociación usual entre festival e só proxección se nos quedaba corta. </p>
    <p>Démoslle un par de voltas a como mesturar diferentes actividades relacionadas co cinema, como obradoiros que involucraran ás persoas doutro xeito: non queremos que o cine se limite á proxección e ao visionado, non queremos que se asocie facer películas con facelas con moitos cartos. Ao contrario, sabemos que existe o cinema sen recursos e cremos que calquera o pode facer. Así, chegamos a unha idea máis delineada: si, haberá proxeccións, pero de cine amateur e sen financiación; e si, haberá tamén obradoiros para poder aprendermos formas de cine alternativas ás grandes producións que xa todes coñecemos e que pouco teñen que ver coa nosa vida. Foi así como chegamos ao Cine Barato. </p>
    <p>Cine Barato é un festival con tan poucos recursos como as películas que proxecta: non gañamos cartos, nin fai falla pagar entrada (aínda que podedes deixar donativos na nosa taquilla inversa para cubrir gastos como transportes e dietas). Todas as nosas actividades estarán abertas en para quen queira vir en Santiago de Compostela o 24,25 e 26 de abril. </p>
    <p>Que tipo de actividades podedes agardar? Iremos concretando as proxeccións e os obradoiros en breves (estade atentes!), pero polo de pronto xa podedes acceder e participar no que é a idea que nos acompañou en todo o proceso de montar o festival: a Jam. </p>
</div>
{% endblock %}
