{% extends "base.html" %}

<!-- -->

{% block content %}
<!-- Películas -->

<div>
    <style>
        this {
            background: radial-gradient(
                64rem circle at 80vw -16rem,
                var(--bg-light),
                transparent
            );

            position: absolute;
            top: 0;
            left: 0;
            height: 40rem;
            width: 100%;
            z-index: -100;
        } 
    </style>
</div>

<div hx-get="/api/peliculas/carrousel?n=3" hx-trigger="load" style="min-height: 10rem;"></div>

<!-- Widgets -->

<div>
    <style>
        this { 
            display: flex;
            gap: calc(var(--spacing) * 2);
        }

        this>div { 
            flex: 50%;
        }

        this #enviar {
            padding: 0.3rem 1rem;
        }

        this #enviar:hover {
            cursor: pointer;
            background-color: var(--fg);
            transform: scale(1.05);
        }

        @media md- {
            this { flex-direction: column; }
        }
    </style>
    <div>
        <div>
        <h3>Recibe as nosas novas no teu correo</h3>
        <div class="tarxeta">
            <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Suscribirme" id="enviar">
        </div>
        </div>

        <div hx-get="/api/peliculas/calendario" hx-trigger="load"></div>
    </div>
    <div hx-get="/api/novidades" hx-trigger="load"></div>
</div>

{% endblock %}
