.title {
    margin: 0 0 1rem 0;
}

.calendario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(7 * var(--tile-width) + 6 * var(--grid-gap));
}

.dia {
    width: 100%;
    height: 4rem;
    border: 1px solid var(--color-light-background);
    background-color: rgba(var(--theme-light-background), 0.2);
    border-radius: 0.3em;
    transition: transform 0.2s cubic-bezier(0.12, 0.23, 0.44, 1.54),
                background-color 0.35s,
                border-color 0.35s;
}

.dia:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(var(--theme-light-background), 0.5);
    border-color: var(--color-primary);
}
