<!doctype html>
<html lang="gl">
    <head>
        <title>{% block title %}Cinemazarelos{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="A páxina web do ciclo de cine da Facultade de Filosofía da USC. Infórmate sobre as próximas sesións e descubre todas as novidades."
        />

        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script src="/assets/inline_css.js"></script>

        <link rel="stylesheet" href="/assets/modern_normalize.css" />
        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="shortcut icon" href="/assets/favicon.ico" />

        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- Barra de navegacion -->
        {% include "nav.html" %}

        <!-- Contido -->
        <div>
            {% block content %}
            <h1>Nada que ver aquí 🤫</h1>
            {% endblock %}
        </div>
    </body>
    <footer>
        <p>Creado con amor polo equipo CineMazarelos da facultade de Filosofía USC</p>
    </footer>
</html>
