{% extends "base.html" %}

<!-- -->

{% block content %}
<!-- Películas -->

<div>
    <style>
        this {
            background: radial-gradient(
                64rem circle at 80vw -16rem,
                var(--bg-light),
                transparent
            );

            position: absolute;
            top: 0;
            left: 0;
            height: 40rem;
            width: 100%;
            z-index: -1;
        }
    </style>
</div>

<div hx-get="/api/peliculas?n=3" hx-trigger="load">
    <p class="htmx-indicator">Cargando...</p>
</div>

<!-- Widgets -->

<div>
    <style>
        this { 
            display: flex;
            gap: calc(var(--spacing) * 2);
        }

        this div { 
            flex: 50%;
        }

        /* TODO: Move to box class */
        this div div, this div input {
            width: 100%;
            height: 3rem;
            background-color: var(--bg-light);
            border-radius: var(--radius);
            margin-bottom: 0.5rem;
        }

        @media sm- {
            this { flex-direction: column; }
        }
    </style>
    <div>
        <h2>Recibe as nosas novas no teu correo</h2>
        <input type="email" name="email" placeholder="Email">

        <h2>Calendario</h2>
        <div>
            <style>
                
            </style>

            <div></div>
            <div></div>
        </div>
    </div>
    <div>
        <h2>Fanzine</h2>
        <div style="height: 10rem;">
            <a href="https://raw.githubusercontent.com/eerii/cinemazarelos/main/assets/fanzines/fanzine_2122.pdf" target="_blank">Fanzine 2022</a>
        </div>
    </div>
</div>

{% endblock %}
