<div>
    <style>
        this {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: var(--nav-height);

            padding: 0 calc(var(--spacing) * 2);

            animation-name: oscurecer_fondo;
            animation-timeline: scroll(root);
            animation-timing-function: linear;
        }

        this div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            height: var(--nav-height);
            border-bottom: 1px solid var(--bg-lighter);
        }

        this h1 {
            flex-grow: 1;
        }

        this span {
            color: var(--fg);
        }

        @keyframes oscurecer_fondo {
            40%,
            to {
                background-color: var(--bg);
                backdrop-filter: blur(0.5rem);
            }
        }
    </style>
    <div>
        <h1>CineMa<span>zarelos</span></h1>
        <a href="/"><h3>Inicio</h3></a>
        <a href="/sobre_nos"><h3>Sobre nós</h3></a>
        <a href="/"><h3>Redes</h3></a>
    </div>
</div>
