<!-- Podedes engadir máis bloques aquí -->

<div id="novidades">
    <h2>Fanzine</h2>
    <div class="tarxeta">
        <style>
            this img:hover {
                transform: scale(1.1);
                filter: drop-shadow(var(--radius) var(--radius) 10px black);
            }
        </style>
        <div>
            <p>Estamos moi emocionades de, por fin, poder compartir un pequeno adianto do que é o Fanzine do noso ciclo
                de cine!</p>
            <p>Poderedes atopar unha portada chulísima, os cartaces do ciclo do ano pasado e unha recopilación de textos
                escritos poles presentadores dos filmes!</p>
        </div>
        <a href="https://raw.githubusercontent.com/eerii/cinemazarelos/main/assets/fanzines/fanzine_2122.pdf"
            target="_blank"><img src="/assets/fanzines/fanzine_2122.webp" width="250" alt="Primeiro fanzine" /></a>
    </div>
</div>
