{% extends "base.html" %}

<!-- -->

{% block content %}
<h1>Sobre nós</h1>
<p>
    O proxecto empezou como unha actividade da facultade de filosofía da USC
    xestionada por un só profesor (<em>Xavier de Donato</em>). Dende un comezo,
    a base foi facer <strong>sesións os mércores ás 18</strong> nas que alguén
    presenta unha película que sería proxectada e comentada entre todo o
    auditorio.
</p>
<p>
    Pero o proxecto non é algo pechado!
    <strong>Calqueira persoa pode colaborar</strong>, mantemos unha organización
    horizontal. No 2021 varias persoas (principalmente alumnado da facultade)
    sumáronse integramente: organizando o calendario de sesións, diseñando os
    carteis, presentando películas... A día de hoxe, proxectamos películas case
    todas as semanas dos curso.
</p>
<p>
    Este proxecto permítenos facer moitas outras cosas nas que estamos
    traballando e que son resultado dun equipo amplo. Agaramos poder traervos
    fanzines, críticas e moitas máis sesións con boa xente!
</p>
{% endblock %}
